<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">
        <img src="assets/netflix.png" alt="" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-lg-0 ml-auto">
            <input #searchInput (keyup.enter)="buscarPeli(searchInput.value)" class="form-control mr-sm-2" type="search" placeholder="Busca una peli" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarPeli(searchInput.value)">
        Buscar
      </button>
        </div>
    </div>
</nav>